      
<app-header></app-header>
<div class="row">
   <div class="col-md-2" class="addBtn">
      <div class="form-group">
       <button class="btn btn-primary" (click)="addButtonClicked()">Add New Product</button>
      </div>
      </div>
      </div>
<div class="row no-gutters">
   <div class="col-md-3" *ngFor="let product of products">
      <div class="form-group">
         <div class="card">
            <div class="header">
              {{product?.title}}
            </div>
            <hr>
            <div class="body">
               <div class="imgDiv">
                  <img class="img" src="{{product?.imageURL}}">
                  <div><b>{{product?.price * product?.quantity}}</b></div>
                  <div>{{product?.quantity}}</div>
               </div>
               <br>
               <div class="footer">
                  <button class="btn btn-primary btn1" (click)="editButtonClicked(product?.id)">Edit</button>
                  <button class="btn btn-primary btn2"  (click)="clickMethod(product)">Delete</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="jumbotron">
   <div class="container">
      <div class="row">
         <div class="col-md-6 offset-md-3">
            <div class="form-group">
               <add-edit-products *ngIf="isProductForm" (informParent)="parentWillTakeAction($event)"></add-edit-products>
            </div>
         </div>
      </div>
   </div>
</div>