<div class="container">
	<h2>My Form</h2>
  <div class="col-md-6">
	<form  [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label class="center-block">ID:
        <input type="number" class="form-control" formControlName = "id">
      </label>
		</div>
		<div>
			<div class="form-group">
				<label class="center-block">Name:
          <input type="text" class="form-control" formControlName = "name">
        </label>
			</div>
			<div class="form-group">
				<label class="center-block">Salary:
          <input type="number" class="form-control" formControlName = "salary">
        </label>
			</div>
			<div class="form-group">
				<label class="center-block">Department:
          <input type="text" class="form-control" formControlName = "department">
        </label>
			</div>
      
      		<div class="form-group">
			  <button type="button" class="form-control">Add Employee</button>
    	</div>
		</div>
    
    <div class="form-group">
		
       {{registrationForm.get('id').value}}   {{registrationForm.get('name').value}}
        {{registrationForm.get('salary').value}}   {{registrationForm.get('department').value}}
    </div>
	</form>
</div>

</div>
